spring.datasource.url=jdbc:mysql://localhost:3308/reforgepc
spring.datasource.username=reforgepc
spring.datasource.password=reforgepc_dev

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true