<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/output.css}">
    <title>ReForgePC</title>
</head>
<body>

<div th:replace="~{fragments/layout/announcement-bar :: announcement-bar}"></div>

<div th:replace="~{fragments/layout/header :: header}"></div>

<h1>ReForgePC</h1>
<p>The application is running.</p>

<form th:action="@{/logout}" method="post">
    <input
        type="hidden"
        th:name="${_csrf.parameterName}"
        th:value="${_csrf.token}">

    <button type="submit">Logout</button>
</form>

<div th:replace="~{fragments/layout/scripts :: scripts}"></div>

</body>
</html>